

  svg text {
    font-size: max(5.5vw,30px);
    font-weight: 900;
    text-transform: uppercase;
    font-family: Poppins;
    letter-spacing: 8px;
    stroke: white;
    color: rgba(255, 255, 255, 0);
    stroke-width: 2px;
    animation: animated-stroke 3s;
    text-anchor: middle;
    dominant-baseline: middle;
  }
  
  @keyframes animated-stroke {
    0%{
      stroke-dasharray: 0 80%;


    }
    100%{
      stroke-dasharray: 10% 0%;
      stroke-dashoffset: 25%;
    }
  }