
.HeroSection{
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-left: -5vw;
    height: 100vh;
    width: 100vw;
    align-items: center;
    .backvideo{
        width: 100vw;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }
 
    .textContr{
        width: 80vw;
    }
}

@media screen and (max-width:960px) {
    .HeroSection{
        background-color: black;
    }
}